body{
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.post{
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.info-container{
    display: flex;
    flex-direction: column; 
    margin-left: 1em;
}

.post-title {
    font-weight: bold;
    text-align: left;
}

.author {
    text-align: left;
}

.fa-ellipsis-vertical{
    margin-left: auto;
}

img {
    width: 100%;
}

.post-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-icon i {
    margin-right: 15px;
}

.post-icon i:nth-child(4) {
    margin-left: auto;
}

.post-body{
    text-align: left;
    margin: 5%;
    padding-bottom: 3%;
}

.post-body span{
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .post{
        width: 80%;
    }
}